<article class="postArticle postArticle--short">
  <!-- article header -->
  <div class="u-clearfix u-marginBottom10">
    <div class="postMetaInline u-floatLeft">
      <div class="">
        <li class="card card-user">
          <div class="u-tableCell ">
            <a class="avatar">
              <img src="images/default-avatar.png" class="avatar-image avatar-image--smaller">
            </a>
          </div>
          <div class="card-content">
            <h3 class="card-name">
              <a class="author">{{article.who}}</a>
            </h3>
            <p class="card-description">{{article.publishedAt | date: 'yyyy-MM-dd HH:mm'}}</p>
          </div>
        </li>
      </div>
    </div>
  </div>

  <!-- title -->
  <div class="u-clearfix u-paddingTop10">
    <a>
      <div class="postArticle-content">
        <section class=" section--body section--first section--last">
          <div class="section-divider">
            <hr class="section-divider">
          </div>
          <div class="section-content">
            <div class="section-inner">
              <div *ngIf="getIsImage()">
                <a [href]="article.url" target="_blank"><img class="" style="height: 100%; width: 100%; object-fit: contain"
                     [src]="article.url"></a>
              </div>

                <a [href]="article.url" target="_blank">
                  <h3 class="summaryCard-name">{{article.desc}}</h3>
                  <br>
                  <p class="card-description">{{article.url}}</p>
                </a>
            </div>
          </div>
        </section>
      </div>
    </a>
  </div>

  <!-- footer -->
  <div class="u-clearfix u-paddingTop10">
    <div class="buttonSet buttonSet--withLabels u-floatLeft">
      <div class="buttonSet-inner">
        <div class="">
          <button
            class="button button--primary button--chromeless is-touchIconFadeInPulse u-accentColor--buttonNormal button--withIcon button--withSvgIcon u-accentColor--iconLight">
                  <span class="button-defaultState">
                    <span class="svgIcon svgIcon--heart svgIcon--25px is-flushLeft">
                      <svg class="svgIcon-use" width="25" height="25" viewBox="0 0 25 25">
                        <path
                          d="M12.5 21a.492.492 0 0 1-.327-.122c-.278-.24-.61-.517-.978-.826-2.99-2.5-7.995-6.684-7.995-10.565C3.2 6.462 5.578 4 8.5 4c1.55 0 3 .695 4 1.89a5.21 5.21 0 0 1 4-1.89c2.923 0 5.3 2.462 5.3 5.487 0 3.97-4.923 8.035-7.865 10.464-.42.35-.798.66-1.108.93a.503.503 0 0 1-.327.12zM8.428 4.866c-2.414 0-4.378 2.05-4.378 4.568 0 3.475 5.057 7.704 7.774 9.975.243.2.47.39.676.56.245-.21.52-.43.813-.68 2.856-2.36 7.637-6.31 7.637-9.87 0-2.52-1.964-4.57-4.377-4.57-1.466 0-2.828.76-3.644 2.04-.1.14-.26.23-.43.23-.18 0-.34-.09-.43-.24-.82-1.27-2.18-2.03-3.65-2.03z"
                          fill-rule="evenodd">
                        </path>
                      </svg>
                    </span>
                  </span>
            <span class="button-activeState">
                    <span class="svgIcon svgIcon--heartFilled svgIcon--25px is-flushLeft">
                      <svg class="svgIcon-use" width="25" height="25" viewBox="0 0 25 25">
                        <path
                          d="M12.5 21a.492.492 0 0 1-.327-.122c-.278-.24-.61-.517-.978-.826-2.99-2.5-7.995-6.684-7.995-10.565C3.2 6.462 5.578 4 8.5 4c1.55 0 3 .695 4 1.89a5.21 5.21 0 0 1 4-1.89c2.923 0 5.3 2.462 5.3 5.487 0 3.97-4.923 8.035-7.865 10.464-.42.35-.798.66-1.108.93a.503.503 0 0 1-.327.12z"
                          fill-rule="evenodd">
                        </path>
                      </svg>
                    </span>
                  </span>
          </button>
          <button class="button button--chromeless u-baseColor--buttonNormal u-disablePointerEvents">0
          </button>
        </div>
      </div>
    </div>
    <div class="buttonSet u-floatRight">
      <div class="buttonSet-inner">
        <button
          class="button button--chromeless is-touchIconFadeInPulse u-baseColor--buttonNormal button--withIcon button--withSvgIcon button--bookmark">
                <span class="button-defaultState">
                  <span class="svgIcon svgIcon--bookmark svgIcon--25px">
                    <svg class="svgIcon-use" width="25" height="25" viewBox="0 0 25 25">
                      <path
                        d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z"
                        fill-rule="evenodd">
                      </path>
                    </svg>
                  </span>
                </span>
          <span class="button-activeState">
                  <span class="svgIcon svgIcon--bookmarkFilled svgIcon--25px">
                    <svg class="svgIcon-use" width="25" height="26" viewBox="0 0 25 26">
                      <path
                        d="M19 7c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 17.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V7z"
                        fill-rule="evenodd">
                      </path>
                    </svg>
                  </span>
                </span>
        </button>
      </div>
    </div>
  </div>

</article>


