<div *ngIf="initilized">
  <div class="streamItem streamItem--postPreview" *ngFor="let article of articles">
    <div class="streamItem-card streamItem-card--postPreview streamItem-card--hPadding20 streamItem-card--borderRadius3 cardChromeless">
      <div class="streamItem-cardInner streamItem-cardInner--postPreview">

        <kk-article [article]="article" [isImage]="isImage"></kk-article>

      </div>
    </div>
  </div>

  <div class="responsesStreamWrapper u-maxWidth640 js-responsesStreamWrapper container u-maxWidth640" *ngIf="hasMore">
    <div class="row">
      <button *ngIf="!isLoading" class="button button--primary
      button--withChrome u-accentColor--buttonNormal
      responsesStream-showOtherResponses cardChromeless u-sizeFullWidth"  (click)="loadCategoryData()">
        看看更多精彩内容
      </button>
      <button *ngIf="isLoading" class="button button--primary
      button--withChrome u-accentColor--buttonNormal
      responsesStream-showOtherResponses cardChromeless u-sizeFullWidth">
        正在努力加载...
      </button>
    </div>
  </div>
</div>
