<div class="metabar u-clearfix metabar--bordered metabar--tall u-borderBottomGrayLightest u-boxShadowBottom"
     [ngClass]="{'metabar--affixed': isHide, 'is-minimized': isHide}">
  <div #metabarLogo
       class="metabar-inner u-marginAuto u-maxWidth1000 u-paddingLeft20 u-paddingRight20 is-hideWhenMinimized">
    <div class="metabar-block metabar-block--left u-floatLeft u-height65 u-xs-height56">
      <a href="/" class="siteNav-logo">
                     <span class="svgIcon svgIcon--logoNew svgIcon--45px is-flushLeft">
                        <svg class="svgIcon-use" width="45" height="45">
  <g>
    <g>
      <path d="M 20.531252,22.624998 28.78125,41.312496" style="fill:none;stroke:#adf7bb;stroke-width:1.5"/>
      <path d="m 26.65625,18.625002 14.75,20.437494" style="fill:none;stroke:#adf7bb;stroke-width:1.5"/>
      <path d="m 28.218748,42.062496 12.499998,-3.3125" style="fill:none;stroke:#adf7bb;stroke-width:1.5"/>
      <path d="m 21.21875,21.8125 8.874998,19.249996" style="fill:none;stroke:#adf7bb;stroke-width:1.5"/>
      <path d="m 22.15625,21.25 9.312498,19.937496" style="fill:none;stroke:#adf7bb;stroke-width:1.5"/>
      <path d="m 22.96875,20.5625 9.9375,20.312496" style="fill:none;stroke:#adf7bb;stroke-width:1.5"/>
      <path d="m 23.96875,20.125 9.9375,19.999996" style="fill:none;stroke:#adf7bb;stroke-width:1.5"/>
      <path d="m 24.71875,19.5 10.5,20.374996" style="fill:none;stroke:#adf7bb;stroke-width:1.5"/>
      <path d="m 25.78125,19.125 10.8125,20.562496" style="fill:none;stroke:#adf7bb;stroke-width:1.5"/>
      <path d="m 27.78125,21.5 10.125,17.812496"
            style="fill:none;stroke:#adf7bb;stroke-width:1.5"/>
      <path d="M 31.281248,26.624998 39.40625,38.874996"
            style="fill:none;stroke:#adf7bb;stroke-width:1.5"/>
      <path d="m 39.40625,37.687496 0.75,1.125"
            style="fill:none;stroke:#adf7bb;stroke-width:1.5"/>
      <path d="M 19.593752,22.437498 27.531248,18.5625"
            style="fill:none;stroke:#adf7bb;stroke-width:1.5"/>
    </g>
    <g>
      <path d="M 18.531265,14.875032 33.218712,3.125077"
            style="fill:none;stroke:#8ef2a2;stroke-width:1.5"/>
      <path d="M 18.718763,23.687498 35.2187,13.250038"
            style="fill:none;stroke:#8ef2a2;stroke-width:1.5"/>
      <path d="M 33.531208,2.4375789 34.906204,14.000035"
            style="fill:none;stroke:#8ef2a2;stroke-width:1.5"/>
      <path d="M 18.843763,16.125027 33.281208,4.562571"
            style="fill:none;stroke:#8ef2a2;stroke-width:1.5"/>
      <path d="M 18.843763,16.937525 33.531208,5.1875691"
            style="fill:none;stroke:#8ef2a2;stroke-width:1.5"/>
      <path d="M 18.906263,18.500017 33.718708,6.8125629"
            style="fill:none;stroke:#8ef2a2;stroke-width:1.5"/>
      <path d="M 18.656265,19.875013 34.218704,8.1250582"
            style="fill:none;stroke:#8ef2a2;stroke-width:1.5"/>
      <path d="M 18.531265,20.68751 34.343704,9.7500525"
            style="fill:none;stroke:#8ef2a2;stroke-width:1.5"/>
      <path d="M 18.531265,21.125008 34.031204,11.187546"
            style="fill:none;stroke:#8ef2a2;stroke-width:1.5"/>
      <path d="M 18.593765,21.750006 34.281204,12.500041"
            style="fill:none;stroke:#8ef2a2;stroke-width:1.5"/>
      <path d="m 18.656265,22.125004 7.249972,-3.874985"
            style="fill:none;stroke:#8ef2a2;stroke-width:1.5"/>
      <path d="m 18.406265,14.312534 0.437498,9.812462"
            style="fill:none;stroke:#8ef2a2;stroke-width:1.5"/>
    </g>
    <g>
      <path d="m 19.093821,20.875032 v -0.0625"
            style="fill:none;stroke:#1ae042"/>
      <path d="M 8.9064913,2.0003431 9.2814808,42.812172"
            style="fill:none;stroke:#1ae042;stroke-width:1.5"/>
      <path d="M 18.031342,5.0002928 18.53133,39.437222"
            style="fill:none;stroke:#1ae042;stroke-width:1.5"/>
      <path d="M 9.2814808,2.6878331 18.28133,5.6252828"
            style="fill:none;stroke:#1ae042;stroke-width:1.5"/>
      <path d="M 9.6564713,42.124683 19.093821,38.687244"
            style="fill:none;stroke:#1ae042;stroke-width:1.5"/>
      <path d="M 13.718784,5.2500658 14.031283,39.187439"
            style="fill:none;stroke:#1ae042;stroke-width:10"/>
      <path d="M 9.0313025,3.437573 14.65628,5.1875672"
            style="fill:none;stroke:#1ae042;stroke-width:1.5"/>
      <path d="M 8.9063025,4.4375691 13.343785,5.8750639"
            style="fill:none;stroke:#1ae042;stroke-width:1.5"/>
      <path d="M 9.3438005,40.687431 16.343775,38.312439"
            style="fill:none;stroke:#1ae042;stroke-width:1.5"/>
      <path d="m 9.2813005,39.187435 2.0624925,0.0625"
            style="fill:none;stroke:#1ae042;stroke-width:1.5"/>
    </g>
  </g></svg>
                     </span>

        <span class="svgIcon svgIcon--logoWordmarkNew svgIcon--95x45px">
                          <svg class="svgIcon-use" width="95" height="45" viewBox="8 18 95 45">
                      <g><text class="logoWord" y="50" x="10" fill="#000000">Kankan</text></g>
                    </svg>
                    </span>
      </a>
    </div>
    <div class="metabar-block metabar-block--right u-floatRight u-height65 u-xs-height56">
      <div class="buttonSet">
        <a *ngIf="!isAuth()" class="button button--primary" (click)="SignIn()">Sign in / Sign up</a>
        <div *ngIf="isAuth()">
          <a
            class="button button--primary button--chromeless u-accentColor--buttonNormal is-inSiteNavBar u-sm-hide u-marginRight15 u-lineHeight30 u-height32 is-touched">{{currentUser.name}}</a>
          <button class="button button--chromeless u-baseColor--buttonNormal is-inSiteNavBar js-userActions is-touched">
            <div class="avatar">
              <img [src]="currentUser.avatar" class="avatar-image avatar-image--icon" alt="{{currentUser.name}}">
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="metabar-inner u-marginAuto u-maxWidth1000 js-metabarBottom u-paddingLeft20 u-paddingRight20">
    <div class="metabar-block metabar-block--below u-height50 u-xs-height39">
      <nav class="u-maxWidth640 container">
        <ul class="browsableStreamTabs  js-trackedCatalogTabs">
          <li class="browsableStreamTabs-item js-trackedCatalogTab" *ngFor="let navItem of navItems">
            <a class="link link--primary u-accentColor--textDarken u-baseColor--link" [routerLink]="navItem.routing"
               [routerLinkActive]="['active']">{{navItem.name}}</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<div #metabarSpacer class="metabar metabar--spacer js-metabarSpacer u-height115 u-xs-height95"></div>
