.picture-list {
  margin: 0 auto;
  width: 90%;
}

@media only screen and (min-width: 993px) {
  .row .col.l3 {
    width: 33.3333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
}

@media only screen and (min-width: 1400px) {
  .row .col.l3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
}


.card-image {
  width: 100%;
  padding-bottom: 120%;
  overflow: hidden;
  position: relative;
}

.card-image img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
