<div class="container">
  <div class="col s12 m12 l12 center-align">
    <div class="card hoverable" *ngFor="let topic of topics">
      <div class="card-content left-align">
        <span class="card-title flow-text"><a [href]="topic.url" target="_blank">{{topic.desc}}</a></span>
      </div>
      <div class="card-action">
        <a href="#"><i class="material-icons left">close</i></a>
        <a href="#"><i class="material-icons right">close</i></a>
        <a href="#"><i class="material-icons right">close</i></a>
      </div>
    </div>

  </div>
</div>
