<div class="site-main surface-container">
   <div class="surface" style="display: block; visibility: visible;">
     <div class="screenContent surface-content">
         <kk-navigation></kk-navigation>
         <div class="homeContainer u-backgroundGrayLightest u-clearfix">
           <div class="u-foreground homeContainer-content u-maxWidth640 u-marginAuto u-clearfix u-sizeViewHeightMin100">
             <router-outlet></router-outlet>
            </div>
         </div>
     </div>
   </div>
</div>

<kk-article-detail></kk-article-detail>

