<nav>
    <div class="nav-wrapper">
      <span materialize="sideNav"
        data-activates="slide-out" class="brand-logo hide-on-med-and-d">
        <i class="material-icons">menu</i>KANKAN
      </span>

      <span class="brand-logo center">{{categorySelected}}</span>
    </div>
</nav>
<div>
  <ul id="slide-out" class="side-nav">
    <li *ngFor="let navItem of navItems" [routerLink]="navItem.routing" (click)="onSelected(navItem)">
      <a class="waves-effect"><i class="material-icons">{{navItem.icon}}</i>{{navItem.name}}</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>





