<div *ngIf="!dataReady">
  <label><md-progress-bar
    class="app-progress"
    mode="indeterminate"
    aria-label="loading ... "></md-progress-bar>
  </label>
</div>
<div class="card-container" *ngIf="dataReady">

  <md-tab-group fullscreen>
    <md-tab *ngIf="pictures != null">
      <template md-tab-label>
        妹纸
      </template>
      <template md-tab-content>
        <md-card *ngFor="let pic of pictures">

          <md-card-actions align="end">
            <button md-icon-button [disableRipple]="true" color="primary" aria-label="Favorite">
              <md-icon>favorite</md-icon>
            </button>
            <button md-icon-button [disableRipple]="true" aria-label="Settings">
              <md-icon>menu</md-icon>
            </button>
            <button md-icon-button [disableRipple]="true" aria-label="Share">
              <md-icon>share_arrow</md-icon>
            </button>
          </md-card-actions>
          <img md-card-image src="{{pic.url}}" alt="福利">
        </md-card>
      </template>
    </md-tab>

    <md-tab *ngIf="videos != null">
      <template md-tab-label>
        休息视频
      </template>
      <template md-tab-content>
        <p>FIRE</p>
      </template>
    </md-tab>

    <md-tab *ngIf="frontEnd != null">
      <template md-tab-label>
        前端
      </template>
      <template md-tab-content>
        <p>FIRE</p>
      </template>
    </md-tab>

    <md-tab *ngIf="andriod != null">
      <template md-tab-label>
        Android
      </template>
      <template md-tab-content>
        <p>FIRE</p>
      </template>
    </md-tab>

    <md-tab *ngIf="ios != null">
      <template md-tab-label>
        iOS
      </template>
      <template md-tab-content>
        <p>FIRE</p>
      </template>
    </md-tab>

    <md-tab *ngIf="extend != null">
      <template md-tab-label>
        拓展资源
      </template>
      <template md-tab-content>
        <p>FIRE</p>
      </template>
    </md-tab>
  </md-tab-group>
</div>
